<!DOCTYPE html>
<html>

<head>
  <title>Recuperar senha</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8" />
  <style>

  </style>
</head>

<body style="
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
      @import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
      font-family: Poppins, sans-serif;">
  <div class='container' style="
        width: 350px;
        height: 90vh;
        min-height: 700px;
        color: #2B90D9;
        margin: 0 auto;">
    <div class="logo" style="
        text-align: center;
        padding: 70px 0 30px 0;">
      <img style="height: 100px;" src="https://icods-mail-image.s3.amazonaws.com/logo-redonda.png" />
    </div>
    <div class="title" style="
        height: 10%;
        text-align: center;
        padding-bottom: 10px;">
      <h1 style="font-size: 1.7rem;">Você solicitou a alteração de senha</h1>
    </div>
    <div class="content" style="
        height: 40%;
        display: block;
        min-height: 120px;
        text-align: center;">
      <div class="contentContainer" style="
        width: 80%;
        margin: 0 auto !important; ">
        <div class="contentText" style="font-size: 1rem; line-height: 1.4rem;">
          <p style="text-align: justify;"> Foi detectado um pedido de alteração de senha, para isso será enviado logo
            abaixo uma senha temporária. Basta clicar no boão abaixo e colocar sua nova
            senha no nosso aplicativo. Esse processo é para garantir toda a segurança de sua conta!
          </p>
        </div>
        <div class="contentButton" style="
            width: 100%;
            margin-top: 20px;
            border-radius: 10px;
            height: 40px;
            background-color: #ffffff;
            text-align: center;
            border: #2B90D9 solid 2.5px;
            display: flex !important;
            margin: 0 auto !important;
            background-color: #ffffff;
            padding-top: 0.9rem;
            ">
          <a style="
            margin: 0 auto !important;
            color: #2B90D9;
            display: flex;
            text-align: center;
            border: none;
            text-decoration: none;
            font-size: 1rem;
            text-decoration: none;" href="{{link}}">{{tempPass}}</a>
        </div>
        <br>
        <div class="contentButton" style="
          width: 100%;
          margin-top: 20px;
          border-radius: 50px;
          height: 40px;
          color: white !important;
          background-color: #2B90D9;
          text-align: center;
          display: flex !important;
          margin: 0 auto !important;
          padding-top: 0.9rem;
          ">
          <a style="
              margin: 0 auto !important;
              border: none;
              display: flex;
              text-decoration: none;
              color: white !important;
              text-align: center;
              font-size: 1rem;
              text-decoration: none;" href={{link}}>Prosseguir para alteração de senha</a>
        </div>
      </div>
    </div>

    <footer class="footer" style="width: 80%;
      margin: 0 auto;
      ">
      <div class="footerContainer" style="
          text-align: start;
          padding-left: auto;
          font-size: 0.8rem;
          color: #2B90D9;">
        <p>
          <h4>Para mais informações:</h4>
          <div style="display: flex;">
            <div style="padding-top: 0.2rem;">
              <img style="height: 31px; width: 31px;" src="https://icods-mail-image.s3.amazonaws.com/link.png" />
            </div>
            <p style="
              color: #2B90D9;
              font-size: 0.8rem; margin-left: 8px; text-decoration: none;" href="https://icods.com.br/">icods.com.br
            </p>
          </div>
        </p>
        <p>
          <div style="display: flex;">
            <div style="padding-top: 0.2rem;">
              <img style="height: 31px; width: 31px;" src="https://icods-mail-image.s3.amazonaws.com/call.png" />
            </div>
            <p style="
              color: #2B90D9;
              font-size: 0.8rem; margin-left: 8px;">83 - 998088031</p>
          </div>
        </p>
        <p>
          <div style="display: flex;">
            <div style="padding-top: 0.25rem;">
              <img style="height: 31px; width: 31px;" src="https://icods-mail-image.s3.amazonaws.com/location.png" />
            </div>
            <p style="color: #2B90D9;
              font-size: 0.8rem; margin-left: 8px;">Av. Senador Rui Carneiro, 1038 1° andar sala 01</p>
          </div>
        </p>
      </div>
    </footer>
  </div>
</body>

</html>
